
{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}

<div class="container mt-5">
<h1>Votre site en quelques chiffres</h1>
   <div class="mt-5">
   <h2>Nombre d'achat par jour</h2>
  <canvas id="purchase" width="400" height="100" class="mt-3"></canvas>
   </div>
   <div class="mt-5">
   <h2>Répartition du nombre d'article par catégories</h2>
  <canvas id="category" class="mt-3"></canvas>
   </div>
</div>




{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

let purchases = document.querySelector("#purchase")
let categories = document.querySelector("#category")

let purchasegraph = new Chart(purchases, {
   type: "line",
   data: {
      labels: {{purchaseDate | raw}},
      datasets: [{
         label: "Nombre d'achat par jour",
         data: {{purchaseCount | raw}}
      }]
   }
})

let categoryGraph = new Chart(categories, {
   type: "pie",
   data: {
      labels: {{categoryName | raw}},
      datasets: [{
         label: "Répartition du nombre d'article par catégories",
         data: {{categoryCount | raw}},
         backgroundColor: {{categoryColor | raw}}
      }]
   }
})
</script> 
{% endblock %}